mat-icon {
    transition: color 0.2s ease;
}

mat-icon:hover {
    color: #4FC3F7;
    cursor: pointer;
}

ul {
    padding: 0;
    margin-top: 0;
}

li {
    padding: 8px 24px;
    transition: background-color 0.2s ease;
}

li:hover {
    background-color: #eee;
}

.body {
    max-height: 330px;
    min-height: 330px;
    overflow-y: auto;
}

mat-form-field div.mat-input-wrapper.mat-form-field-wrapper div.mat-input-flex.mat-form-field-flex div.mat-input-infix.mat-form-field-infix {
    margin-left: 10px;
}