.section {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.sectionNumber {
    padding-left: 16px;
    flex: 1;
}

mat-icon {
    transition: color 0.2s ease;
}

mat-icon:hover {
    color: #4FC3F7;
    cursor: pointer;
}