<mat-accordion>
  <mat-expansion-panel *ngFor="let course of courses">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span style="flex: 1; justify-content: center; line-height: 24px;">{{ course.subject }}{{ course.number }}</span>
        <mat-icon class="info" (click)="getInfo($event, course)">info_circle_outline</mat-icon>
        <mat-icon class="warning" *ngIf="course.missingSection" matTooltip="Missing linked section!">warning</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-section *ngFor="let section of course.sections" [section]="section" (sectionAdded)="onMouseLeave(section)" (mouseleave)="onMouseLeave(section)" (mouseenter)="onMouseEnter(section)"></app-section>
  </mat-expansion-panel>
</mat-accordion>

<div class="noCourses" *ngIf="courses.length === 0">
  
    <div style="width: 48px">
      <mat-icon>sentiment_dissatisfied</mat-icon>
    </div>
    <div class="noCoursesText">
      No courses
    </div>
  
</div>