.noCourses mat-icon {
    margin-top: 16px;
    font-size: 48px;
}

.noCourses {
    color: #e4e4e4;
    display: flex; 
    flex-direction:column; 
    height:100%; 
    align-items: center; 
    justify-content: center;
}

.noCoursesText {
    margin-bottom: 16px;
}

mat-icon.info {
    transition: color 0.2s ease;
    color: #dcdcdc;
}

mat-icon.info:hover {
    color: #4FC3F7;
    cursor: pointer;
}

mat-icon.warning {
    color: #FF6F00;
}

mat-icon.warning:hover {
    color: #E65100;
    cursor: not-allowed;
}

mat-icon.search {
    color: #a2a2a2;
    padding: 3px 2px;
    border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    background-color: #f1f1f1;
}